{
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "since 2018"
              ]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": ["react-hot-loader/babel"]
    },
    "iife": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "> 0.5%"
              ]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": ["react-hot-loader/babel"]
    }
  }
}